In [2]:
import pandas as pd

# 100k

In [5]:
pd.read_csv("100k.csv").head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

# 1M

In [9]:
df = pd.read_csv("1M.dat", sep="::", engine="python",
                 names=["userId", "movieId", "rating", "timestamp"])

df.to_csv("1M.csv", index=False)

df.head(3)

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968